*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex{
    display: flex;
}

.border{
    border: 2px solid red;
}

.gen-list{
    list-style: none;
}

.white-text{
    color: white;
    size: 3rem;
}

.hov:hover{
    color: #989898;
    border-bottom: 1px solid #989898;
    transition: color 0.5s, border-bottom 4s;
}

.sec-heading{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 5rem;
    /* background: linear-gradient(to left, white, #989898);
    background-clip: text;
    color: transparent; */
}